@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Serif', serif;
}

/* body */
body {
  /* min-height: 100vh;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */

  background-color: #023047d7;
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}

